	body, html
	{
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.answer
	{
		margin: 2.5%;
		display: inline-block;
	}
	.continue
	{
		display:block;
		font-size:36px;
		font-family:Arial;
		padding:100px;
		height:100%;
		width:100%;
	}
	.end
	{
		height:100%;
		width:100%;
		font-size:36px;
		font-family:Arial;
		padding:20%;
	}
	.end #submit{
		display:inline-block;
		font-size:24px;
		text-decoration:none;
	}
	.answer img
	{
		height: 300px;
		width: 500px;
	}
	.questionText{
	}
	.answerText{
	}
	#para{
		color:purple;
		font-size:36px;
		font-family:Arial;
	}
	#back{
		border:1px solid black;
		position:absolute;
		left:20px;
		bottom:20px;
		font-family:Verdana, Arial;
		padding:10px;
		display:none;
	}